.header {
    height: 1020px;
    background: url(./../../img/section_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.header__nav-menu {
    display: flex;
    justify-content: center;
}

.header__nav-menu-item {
    margin: 13px 20px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.header__nav-menu-item:hover a{
    color: var(--accent-color);
    transition: color 0.3s ease;
}

.header__logo-link .logo-1 {
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

.logo-2 {
    margin-left: 20px;
}

.header__nav-menu-item-btn {
    margin-left: 80px;
}

.header__btn-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--accent-color);
}

.header__logo-link {
    display: flex;
    align-items: center;
}

.header__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin-bottom: 8px;
}

.header__btn:hover {
    border-color: var(--accent-color);
}

.menu__line {
    border: 1px solid rgba(232, 232, 232, 0.5);
    width: 1400px;
    margin-top: 15px;
}
